.espaco{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1px;
  }
  .imgCircular{
    border-radius: 50%;
    border: 2px solid black;
  }
  .btn1 {
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 98%;
   font-size: 150%;
  }
